@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

$transparent-white: hsla(0, 0%, 100%, 0.75); // (paragraphs)
$very-light-gray: hsl(0, 0%, 95%); // (background, headings, buttons)

$font-BSD: 'Big Shoulders Display', cursive;
$font-LD: 'Lexend Deca', sans-serif;
$font-size: 15px;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $font-size;
  font-family: $font-LD;
}

main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.preview-card {
  display: flex;
  width: 1200px;
}

.col {
  padding: 40px;

  .btn {
    border-radius: 30px;
    background-color: $very-light-gray;
    text-align: center;
    padding: 10px;
  }
}

.sedans {
  background-color: $bright-orange;
  border-radius: 10px 0 0 10px;
}

.suvs {
  background-color: $dark-cyan;
}

.luxury {
  background-color: $very-dark-cyan;
  border-radius: 0 10px 10px 0;
}