@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

$transparent-white: hsla(0, 0%, 100%, 0.75); // (paragraphs)
$very-light-gray: hsl(0, 0%, 95%); // (background, headings, buttons)

$font-BSD: 'Big Shoulders Display', cursive;
$font-LD: 'Lexend Deca', sans-serif;
$font-size: 15px;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $font-size;
  font-family: $font-LD;
}

body {
  width: 100%;
}

main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.preview-card {
  display: flex;
}

.col {
  padding: 40px;
  width: 290px;

  img {
    width: 64px;
    height: 40px;
  }

  h2 {
    margin-top: 20px;
    font-family: $font-BSD;
    color: $very-light-gray;
    font-size: 30px;
    text-transform: uppercase;
  }

  p {
    margin-top: 20px;
    line-height: 26px;
    color: $transparent-white;
  }

  .btn {
    display: block;
    width: 140px;
    margin-top: 80px;
    border-radius: 30px;
    background-color: $very-light-gray;
    text-align: center;
    padding: 10px;
    border: 1px solid $very-light-gray;
    text-decoration: none;

    &:hover {
      color: $very-light-gray;
    }

  }
}

.sedans {
  background-color: $bright-orange;
  border-radius: 10px 0 0 10px;

  .btn {
    &:hover {
      background-color: $bright-orange;
    }
  }
}

.suvs {
  background-color: $dark-cyan;

  .btn {
    &:hover {
      background-color: $dark-cyan;
    }
  }
}

.luxury {
  background-color: $very-dark-cyan;
  border-radius: 0 10px 10px 0;
  
  .btn {
    &:hover {
      background-color: $very-dark-cyan;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 782px) {
  
}