@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

$transparent-white: hsla(0, 0%, 100%, 0.75); // (paragraphs)
$very-light-gray: hsl(0, 0%, 95%); // (background, headings, buttons)

$font-BSD: 'Big Shoulders Display', cursive;
$font-LD: 'Lexend Deca', sans-serif;
$font-size: 15px;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $font-size;
  font-family: $font-LD;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $very-light-gray;
}

main {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  h1 {
    font-size: 0.1rem;
    text-align: center;
  }
}

.preview-card {
  display: flex;
  width: 870px;

  .col {
    padding: 40px;
    flex: 1;
  
    img {
      width: 64px;
      height: 40px;
    }
  
    h2 {
      margin-top: 20px;
      font-family: $font-BSD;
      color: $very-light-gray;
      font-size: 2rem;
      text-transform: uppercase;
    }
  
    p {
      font-size: 1rem;
      margin-top: 20px;
      line-height: 26px;
      color: $transparent-white;
    }
  
    .btn {
      display: block;
      font-size: 1rem;
      width: 140px;
      margin-top: 80px;
      padding: 10px;
      background-color: $very-light-gray;
      text-align: center;
      text-decoration: none;
      border: 1px solid $very-light-gray;
      border-radius: 30px;
  
      &:hover {
        color: $very-light-gray;
      }
  
    }
  }
}

.sedans {
  background-color: $bright-orange;
  border-radius: 10px 0 0 10px;

  .btn {
    color: $bright-orange;
    &:hover {
      background-color: $bright-orange;
    }
  }
}

.suvs {
  background-color: $dark-cyan;

  .btn {
    color: $dark-cyan;
    &:hover {
      background-color: $dark-cyan;
    }
  }
}

.luxury {
  background-color: $very-dark-cyan;
  border-radius: 0 10px 10px 0;
  
  .btn {
    color: $very-dark-cyan;
    &:hover {
      background-color: $very-dark-cyan;
    }
  }
}

.attribution {
  padding: 20px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 768px) {

  * {
    font-size: 16px;
  }

  body {
    height: 100%;
  }

  .preview-card {
    width: 95%;
    flex-direction: column;
    margin: 80px 0;

    .col {

      .btn {
        margin-top: 20px;
      }
    }
  }

  .sedans {
    border-radius: 10px 10px 0 0;
  }

  .luxury {
    border-radius: 0 0 10px 10px;
  }

  .attribution {
    display: none;
  }
}